[MESSAGES CONTROL]

# yapf produces bad-continuation's on overlong `with` statements.
disable=bad-continuation,line-too-long

good-names=i,j,k,ex,m,s,cp,lo,hi

min-public-methods=0

#spelling-dict=en_US

# docparams messages.
accept-no-param-doc=no
accept-no-raise-doc=no
accept-no-return-doc=yes
accept-no-yields-doc=yes


[MASTER]

load-plugins=pylint.extensions.docparams
